body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(https://img.freepik.com/premium-photo/playful-3d-monkey-showcasing-its-tech-skills-as-talented-software-developer-perfect-illustrating-joy-coding_14117-518218.jpg);
}

.container {
    width: 70vw;
    height: 65vw;
    border-style: double;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.crud {
    border-style: groove;
    width: 40vw;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(187, 228, 230);
}

#adiciona {
    width: 200px;
    height: 25px;
    background-color: chartreuse;
}

#logar {
    width: 200px;
    height: 25px;
    background-color: blueviolet;
    color: white;
}

#edit {
    width: 200px;
    height: 25px;
    background-color: rgb(95, 187, 230);
}

#remover {
    width: 200px;
    height: 25px;
    background-color: rgb(255, 54, 54);
}

.mensagem {
    text-align: center;
    margin: 10px;
    width: 220px;
    height: 50px;
    background-color: floralwhite;
    border-radius: 30px;
}

input {
    width: 200px;
    height: 20px;
    margin-bottom: 1vw;
    border-radius: 15px;
}

button {
    margin: 10px;
    border-radius: 5px;
}